<html>
  <head>
    <meta charset="utf-8" />
    <link href="{{ Lona.load_static_file('style.css') }}" rel="stylesheet">
    {{ Lona.load_stylesheets() }}
  </head>
  <body>
    <div id="lona"></div>
    <div id="wwm-windows"></div>

    <script type="text/javascript" src="{{ Lona.load_static_file('wwm.js') }}"></script>
    {{ Lona.load_scripts() }}
    <script>
      var window_root = document.querySelector('#wwm-windows');

      var lona_context = new Lona.LonaContext({
        target: '#lona',
        title: 'Lona',
        update_address_bar: true,
        update_title: true,
        follow_redirects: true,
        follow_http_redirects: true,
      });

      lona_context.add_disconnect_hook(function(lona_context, event) {
        document.querySelector('#lona').innerHTML = `
          <h1>Server disconnected</h1>
        `;
      });

      lona_context.setup();

      var window_manager = new WWM.WindowManager(window_root);

      window_manager.load_state();

    </script>
  </body>
</html>
